html{
    font-size: 16px;
}
body{
    width: 70%;
    margin: auto;
    background-color: floralwhite;
}
#container{
    margin: auto;
    text-align: center;
}
#cardholder{
    padding: 1rem;
    width: 90%;
    max-width: 900px;
    height: 30%;
    margin: auto;
    background-color: green;
    border: 5px solid brown;
}
img.card{
    width: 20%;
    max-width: 131px;
    height:auto;
}
#diceholder{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 500px;
    height: auto;
    border: 5px solid brown;
    display: block;
    text-align: center;
    position: relative;
    background-color: maroon;
}
.dice{
    width: 30%;
    max-width: 200px;
    height:auto;
    display: inline-block;
    margin: 1rem;
}
input[type="text"]{
    width: 70px;
}
#submit{
    margin-left:1rem;
}

form{
    font-size: 1.8rem;
}
button{
    margin-top: 1rem;
    font-size: 1.8rem;
    
}
table{
    margin-top: 2rem;
    min-width: 250px;
    max-width: 400px;
    border: 2px solid black;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: whitesmoke;
}
thead td{
    font-weight: 900;
    color: white;
    background-color: black;
}
td{
    border-bottom: 1px solid black;
}
tr:nth-child(even){
    background-color: darkgray;
}

