body{
    width: 70%;
    margin: auto;
    background-color: blue;
}
#container{
    margin: auto;
    text-align: center;
    background-color: aqua;
}
#cardholder{
    width: 90%;
    height: 30%;
    margin: auto;
    background-color: brown;
}
.row{

}
.card{
    height:200px;
}
#diceholder{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 500px;
    border: 5px solid black;
    display: block;
    text-align: center;
    position: relative;
}
.dice{
    display: inline-block;
    margin: 2rem;
}
input[type="text"]{
    width: 70px;
}
#submit{
    margin-left:1rem;
}