html{
    font-size: 16px;
}
body{
    width: 70%;
    margin: auto;
}
#container{
    margin: auto;
    text-align: center;
}
#cardholder{
    width: 90%;
    height: 30%;
    margin: auto;
}
.row{

}
.card{
    height:200px;
}
#diceholder{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 500px;
    border: 5px solid black;
    display: block;
    text-align: center;
    position: relative;
}
.dice{
    display: inline-block;
    margin: 2rem;
}
input[type="text"]{
    width: 70px;
}
#submit{
    margin-left:1rem;
}

form{
    font-size: 1.8rem;
}
button{
    font-size: 1.8rem;
}
table{
    margin-top: 2rem;
    width: 400px;
    border: 2px solid black;
    margin-bottom: 4rem;
    font-size: 2rem;
}
thead td{
    font-weight: 900;
    color: white;
    background-color: black;
}
td{
    border-bottom: 1px solid black;
}
tr:nth-child(even){
    background-color: darkgray;
}
